

ion-button{
    margin-left:5%;
    width: 90%;
    --background:rgb(27, 27, 27);
    color:white;
}

ion-card{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height:auto; 
    background-color: rgb(41, 41, 41);
  }
