<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="closemodal()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        </ion-buttons>
      <ion-title style="text-align: center; margin-right: 15vw;">Agregar Tarea</ion-title>
    </ion-toolbar>
  </ion-header>


  <form>
    <ion-card>
      <ion-row>
        <p>Fecha</p>
      </ion-row>
      <ion-row>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [value]="dateFromIonDatetime" displayFormat="MMM DD, YYYY" max="2030" min="2019"
              [showDefaultButtons]="true" #datetime (ionChange)="datechanged(datetime.value)">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-row>

      <ion-row>
        <p>Distancia recorrida:</p>
        <ion-input id="distance" name="distance" [(ngModel)]="newRun.distance"></ion-input>
      </ion-row>
      <ion-row>
        <p>Tiempo:</p>
        <ion-input id="time" name="time" [(ngModel)]="newRun.time"></ion-input>
      </ion-row>
      <ion-row>
        <p>Ubicacion:</p>
        <ion-input id="location" name="location" [(ngModel)]="newRun.location"></ion-input>
      </ion-row>
      <ion-row>
        <p>Notas personales:</p>
        <ion-input id="description" name="description" [(ngModel)]="newRun.description"></ion-input>
      </ion-row>
      <ion-row>
        <p>Puntuacion Personal:</p>
        <ion-input id="personalRate" name="personalRate" [(ngModel)]="newRun.personalRate"></ion-input>
      </ion-row>
      <ion-row>
        <ion-button [disabled]="emptyfields()" (click)="addNewRun()"> Agregar </ion-button>
      </ion-row>
    </ion-card>

    <!--FALTA LA COSO DE TOMAR FOTO-->
  </form>

</ion-content>