.timepicker{
    background-color: transparent;
}

.timeseparation{
    background-color: transparent;
}

.timeseparation p{
    position: relative;
    top:40%;
    margin:0;
    font-size: xx-large;
}

ion-picker{
    background-color: transparent;
    --fade-background-rgb:#0000;
}