<ion-content [fullscreen]="true">
  <div>
    <ion-title>Nueva Contraseña</ion-title>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">resetpasword</ion-title>
    </ion-toolbar>
  </ion-header>
  <form>
    
    <div class="inputgroup">
      <p>Ingresa el correo:</p>
      <ion-card class="input">
        <ion-item>
          <ion-input id="email" name="email" [(ngModel)]="email" placeholder="Correo"></ion-input>
          <ion-icon name="mail"></ion-icon>
        </ion-item>
    <div *ngIf="resetAtt">
      <ion-text>Comprueba el Correo</ion-text>
    </div>
    </ion-card>
    <ion-card style="--background: transparent; box-shadow: none;">

    
    <div>
      <a [routerLink]="['/login']">Ya te acordaste?</a>
    </div>
  </ion-card>
    </div>
  
  </form>


  <ion-fab (click)="resetPassword()" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>