.input{
    border-radius: 10px;
}

.input ion-input{
    height: 10vh;
}

.inputgroup{
    margin-top: 10vh;
}

ion-title{
    margin-top: 15vh;
    text-align: center;
    font-size: xx-large;
}

.inputgroup p{
    font-size: x-large;
    margin: 5vw;
}