<ion-content [fullscreen]="true">
  <br><br><br>
  <h1>{{authService.userName}}</h1>

  <div class="profileContainer">
    <div class="fotoContainer">
      <ion-icon name="person" *ngIf="!photoUrl" (click)="takePhoto()" ></ion-icon>
      <ion-div class="profileContainer" *ngIf="photoUrl"><img [src]="photoUrl" alt="Captured Photo" class="circular-image"></ion-div>
    </div>
  </div>
    
    
  <ion-card>
    <h5>{{authService.userEmail}}</h5>
  </ion-card>
  
  <!--<ion-title>{{user}}</ion-title>-->
  <div class="profileOptions">
    <ion-button (click)="logout()">Salir de la cuenta</ion-button>
  </div>
        

  
</ion-content>
