h1 {
    text-align: center;
}

h5 {
    color: aliceblue;
    margin-left: 2vw;
}

ion-card{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height:auto;
    background-color: rgb(41, 41, 41);
    text-align: center;
}

ion-icon{
    width: 50px;
    height: 50px;
}

.profileOptions{
    width: 100vw;

}

.profileOptions ion-button{
    margin-left:5%;
    width: 90%;
    --background:rgb(27, 27, 27);
    color:white;
}

.profileContainer {
    width: 100vw;
    height: 20vh;
    background-color: transparent;
    display: flex;
    justify-content: center;

  }

.fotoContainer {
    width: 20vh;
    height: 20vh;
    border-radius: 50%; 
    background-color: rgb(70, 0, 135);
    display: flex;
    overflow: hidden;

  }

  .fotoContainer ion-icon{
    margin: auto;
    font-size: 100px;

  }
  
  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }