#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-card{
  margin-top: 5vh;
  margin-left: 5vw;
  width: 90vw;
  height:auto;
  background-color: rgb(41, 41, 41);
}

h1{
  margin-left: 5vw;
}

h6{
  color:aliceblue;
  margin-left: 2vw;
}

h5{
  color:aliceblue;
  margin-left: 2vw;
}

p{
  color:aliceblue;
  margin-left: 2vw;
}