<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AuraFit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Mis carreras</h1>

  <ion-card *ngFor="let carrera of carreras; index as i">
    <ion-grid>
      <ion-row>
        <ion-text>Fecha: </ion-text><ion-text>{{formatDate(carrera.date)}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text>Distancia: </ion-text><ion-text>{{carrera.distance}}</ion-text>
      </ion-row>
      <ion-row>
        <ion-text>Tiempo: </ion-text><ion-text>{{formatTime(carrera.time)}}</ion-text>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openModal()">+</ion-fab-button>
  </ion-fab>
</ion-content>