h1 {
    margin-left: 5vw;
}

ion-card {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: auto;
    background-color: rgb(41, 41, 41);
    border: 2px solid #9900ff;
}



h6 {
    color: aliceblue;
    margin-left: 2vw;
}

h5 {
    color: aliceblue;
    margin-left: 2vw;
}