<ion-content [fullscreen]="true">
  <br><br><br>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title style="text-align: center; margin-right: 15vw;">Detalles del entrenamiento en {{carrera.location}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <h5>
          <ion-text>Fecha: </ion-text><ion-text>{{formatDate(carrera.date)}}</ion-text>
        </h5>
      </ion-row>
      <ion-row>
        <h5>
          <ion-text>Distancia: </ion-text><ion-text> {{carrera.distance}} km</ion-text>
        </h5>
      </ion-row>
      <ion-row>
        <h5>
          <ion-text>Tiempo: </ion-text><ion-text>{{formatTime(carrera.time)}} </ion-text>
        </h5>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
          <h5><ion-text>Ubicación: </ion-text><ion-text>{{carrera.location}} </ion-text></h5>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <h5>
          <ion-text>Notas: </ion-text><ion-text>{{carrera.description}} </ion-text>
        </h5>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <h5>
          <ion-text>Puntuacion personal: </ion-text><ion-text>{{carrera.personalRate}} </ion-text>
        </h5>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <div *ngIf="carrera.fotoUrl">
      <img [src]="carrera.fotoUrl" alt="Foto de la Carrera">
    </div>
  </ion-card>
</ion-content>